

.about-container
{
    background-color: rgb(183, 194, 31);
    border-radius: 10px;
    color: rgb(214, 37, 37);
    width: 50%;
    margin:auto;
    margin-top:var(--margin-under-nav);
    padding: 8px;
    text-align: center;
}